#urls {text-align: center; background: blanchedalmond}
#database {text-align: center; font-family: "Arial"; font-size: 12px; background: rosybrown}
table {width: 200px; border: 1px; margin: auto}
td {text-align: center}
.text {text-align: center}